<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/secondaryStyle.css' %}">
    <title>login</title>
</head>

<body  class="d-flex justify-content-center align-items-center" style="min-height:100vh">
    <!-- Box Container -->
    <div class="login">
        <form action="" method="post"> 
            {% csrf_token %} 
            <h2>Login</h2>
            <!-- Username -->
            <div class="inputBox">
                <input type="text" value="" required="required">
                <span>Username</span>
                <i></i>
            </div>
            <!-- Password -->
            <div class="inputBox">
                <input type="password" value="" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <!-- Forgot and Signup Links -->
            <div class="links">
                <a href="#">Forgot Password ?</a>
                <a href="userSignup">Signup</a>
            </div>
            <!-- Login Button -->
            <input type="submit" value="LOGIN">
        </form>
    </div>


    <!-- Bootstrap JS -->
    <script src="{% static 'script/bootstrap.min.js' %}"></script>
</body>

</html>